<!DOCTYPE html>
<html>
<head>
  <title>OSC</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container"> <!--start of container-->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <!--site name-->
          <a class="brand" href="index.html" title="Oval Ski Club">Oval Ski Club</a> 
          <div class="nav-collapse collapse">
            <ul class="nav">
              <!--Home link-->
              <li class="active"><%= link_to "Home" %></li>
              	<!--<a href="index.html" accesskey="h" title="Home" >Home</a>-->

              <!-- first drop down box-->
              <li class="dropdown"> 
                <a href="#"  title="Information"class="dropdown-toggle" data-toggle="dropdown" title="Information">Information <b class="caret"></b></a>
                <ul class="dropdown-menu">


                    <li><%= link_to "About Us" %>
                  	<a href="../feedbacks/about.html.erb" title="About Us" accesskey="a" >About Us</a></li>

                  <li><%= link_to "Contact Us" %></li>
                  	<!--<a href="ContactUs.html"title="Contact Us" accesskey="c">Contact Us</a>-->
                  <li><%= link_to "FAQ's" %></li>
                  <!--<a href="FAQ.html"title="Frequently Asked Questions" accesskey="q">FAQ's</a>-->
                </ul>
              </li>

              <!-- second drop down box-->
               <li class="dropdown"> 
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Events">Events <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="Social.html"title="Social Events"accesskey="s">Social</a></li>
                  <li><a href="RacingTeam.html"title="Racing Team"accesskey="r">Racing Team</a></li>
                  <li><a href="Sessions.html"title="Lessons" accesskey="l">Lessons</a></li>
                </ul>
              </li>
            </ul> 

    
          <!-- drop down sign in-->
          <ul class="nav pull-right">
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown" title="Sign In">Sign In <strong class="caret"></strong></a>

            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 10px;">

              <!-- Login form here -->
            <form action="index.html">
              
              <!--Username-->
            <input style="margin-bottom: 15px;" type="text" placeholder="Username" size="30" title="Userame"/> 

            <!--Password-->
            <input style="margin-bottom: 15px;" type="password" placeholder="Password" name="user[password]" size="30" title="Password"/>

            <!--Sign In-->
            <button <input class= "btn btn-primary"  name="commit" value="Sign In" title="Sign In">Sign In</button>
          </form>
          </div>
        </div><!--/.nav-collapse -->
      </div><!--end of container-->
    </div>
  </div> 

 <div class="container">

      <!-- Main hero unit -->
      <div class="hero-unit">
        <h1>Welcome to Oval Ski Club!</h1>
        <p>Oval Ski Club is a dry ski slope based at Oval Sports Center in Bebington, Merseyside. For more information please take a look through our website!</p>
        <p><a class="btn btn-primary btn-large" href="AboutUs.html" title="About Us"> About Us! &raquo;</a></p>
      </div>

      <!-- Rows of text -->
      <div class="row">
        <div class="span4">
          <h2>Lessons</h2>
          <p>Oval Ski Club closes its doors during the summer months. During this time the slope is maintained ready for the winter season. More information on when we are open and our skiing lessons can be found by following the link below. </p>
          <p><a class="btn" href="Sessions.html"title ="More Details">More Details &raquo;</a></p><!--button links to lessons page-->
        </div>

        <div class="span4">
          <h2>Racing Team</h2>
          <p> Oval Ski Club takes part in races throughout the year at stoke, Sheffield and Pendle. Anyone who is a member at Oval Ski Club can take part in these races. Interested see our Racing Team page for more details. </p>
          <p><a class="btn" href="RacingTeam.html" title ="More Details">More Details &raquo;</a></p><!--button links to racing team page-->
       </div>

        <div class="span4">
          <h2>Holidays</h2>
          <p>Oval Ski Club organises a skiing holiday each year during the easter break to one of many popular resorts in Europe. For more information regarding our skiing holidays please follow the link below. </p>
          <p><a class="btn" href="Social.html"title ="More Details">More Details &raquo;</a></p><!--button link to social events page-->
        </div>
      </div><!--end of container-->


      <footer>

<div class="container">
	<div class = "row">
		<div class = "span9"><%= yield %></div>
		<div class = "span3">
			<h2>Feedback</h2>
			On the left add your own comments for the website as well your latest experience from skiing with Oval Ski Club. 
		</div>
	</div>
</div>

  <div class="span1"> <!-- facebook link-->
      <div class="brand">  <a href="https://www.facebook.com/groups/2256597544/"><img src="assets/img/fbbutton.jpg" class="brand" title="Facebok Page"></a></div>
    </div>
      <hr>
      <div class="pagination-centered">
        <p>&copy; Oval Ski Club 2012</p>
      </div>
      </footer>
    </div> 

</body>
</html>
